<%= form_for(@player) do |f| %>
  <%= render :partial => "layouts/errors", :object => @player %>

  <fieldset>
    <legend><span><%= t('.provide_details') %></span></legend>

    <%= f.hidden_field :screen_id %>

    <div class="clearfix">
      <%= f.label :ip_address %>
      <div class="input">
        <%= f.text_field :ip_address %>
      </div>
    </div>

    <div class="clearfix">
      <div class="input checkbox">
        <ul class="inputs-list">
          <li><%= f.check_box :activated %> <%= f.label :activated %></li>
        </ul>
      </div>
    </div>

    <!-- Screen on/off times. Good luck, UI designer. -->
    <div class="clearfix">
      <%= f.label :wkday_on_time %>
      <div class="input-prepend">
        <span class="add-on"><%= t(:at) %></span>
        <%= f.text_field(:wkday_on_time, :maxlength => 20, :class => "timefield input-small", :value => @player.fmt_time(@player.wkday_on_time, "%l:%M%P") || ConcertoConfig[:content_default_start_time]) %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :wkday_off_time %>
      <div class="input-prepend">
        <span class="add-on"><%= t(:at) %></span>
        <%= f.text_field(:wkday_off_time, :maxlength => 20, :class => "timefield input-small", :value => @player.fmt_time(@player.wkday_off_time, "%l:%M%P") || ConcertoConfig[:content_default_end_time]) %>
      </div>
    </div>

    <div class="clearfix">
      <div class="input checkbox">
        <ul class="inputs-list">
          <li><%= f.check_box :wknd_disable %> <%= f.label :wknd_disable %></li>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :wknd_on_time %>
      <div class="input-prepend">
        <span class="add-on"><%= t(:at) %></span>
        <%= f.text_field(:wknd_on_time, :maxlength => 20, :class => "timefield input-small", :value => @player.fmt_time(@player.wknd_on_time, "%l:%M%P") || ConcertoConfig[:content_default_start_time]) %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :wknd_off_time %>
      <div class="input-prepend">
        <span class="add-on"><%= t(:at) %></span>
        <%= f.text_field(:wknd_off_time, :maxlength => 20, :class => "timefield input-small", :value => @player.fmt_time(@player.wknd_off_time, "%l:%M%P") || ConcertoConfig[:content_default_end_time]) %>
      </div>
    </div>

    <div class="clearfix">
      <div class="input checkbox">
        <ul class="inputs-list">
          <li><%= f.check_box :force_off %> <%= f.label :force_off %> (temporarily turns off the screen until midnight tonight)</li>
        </ul>
      </div>
    </div>
    <p><em>All time fields should be entered in 24 hour format (HH:mm), for example 23:30 for 11:30 PM.</em></p>
  </fieldset>

  <div class="submit_bar actions">
    <%= f.submit button_text, :class => "btn btn-primary" %>
    <%= link_to t(:cancel), (@player.persisted? ? player_path : players_path), :class => "btn" %>
  </div>

<% end %>
