<div class="row-fluid">
  <div class="span12">
    <div class="default-padding">
      <div class="subblock">
        <div class="default-padding clearfix">

<p id="notice"><%= notice %></p>

<p>
  <b><%= ConcertoHardware::Player.human_attribute_name(:ip_address) %>:</b>
  <%= @player.ip_address %>
</p>

<p>
  <b><%= ConcertoHardware::Player.human_attribute_name(:screen) %>:</b>
  <% if @player.screen.nil? %>
    <%= t('.no_screen_found') %>
  <% else %>
    <% if can? :read, @player.screen %>
      <%= link_to @player.screen.name, [main_app, @player.screen] %>
    <% else %>
      <%= @player.screen.name %>
    <% end %>
  <% end %>
</p>

<p>
  <b><%= ConcertoHardware::Player.human_attribute_name(:activated) %>:</b>
  <%= @player.activated %>
</p>

<p>
  <b><%= ConcertoHardware::Player.human_attribute_name(:screen_on_off_times) %>:</b>
  <ul>
    <% @player.describe_screen_on_off.each do |rule| %>
      <li><%=rule%></li>
    <% end %>
  </ul>
</p>

        </div>
      </div>
    </div>
  </div>
</div>
