<p id="notice"><%= notice %></p>

<p>
  <b>Secret:</b>
  <%= @player.secret %>
</p>

<p>
  <b>Ip address:</b>
  <%= @player.ip_address %>
</p>

<p>
  <b>Screen:</b>
  <% if @player.screen.nil? %>
    Not found
  <% else %>
    <%= link_to @player.screen.name, [main_app, @player.screen] %>
  <% end %>
</p>

<p>
  <b>Activated:</b>
  <%= @player.activated %>
</p>


<%= link_to 'Edit', hardware.edit_player_path(@player) %> |
<%= link_to 'Back', hardware.players_path %>
