<p id="notice"><%= notice %></p>

<p>
  <b>Secret:</b>
  <%= @player.secret %>
</p>

<p>
  <b>Ip address:</b>
  <%= @player.ip_address %>
</p>

<p>
  <b>Screen:</b>
  <% if @player.screen.nil? %>
    Not found
  <% else %>
    <% if can? :read, @player.screen %>
      <%= link_to @player.screen.name, [main_app, @player.screen] %>
    <% else %>
      <%= @player.screen.name %>
    <% end %>
  <% end %>
</p>

<p>
  <b>Activated:</b>
  <%= @player.activated %>
</p>

<% if can? :edit, @player %>
<%= link_to 'Edit', edit_player_path(@player) %> |
<% end %>
<%= link_to 'All Players', players_path %>
